

.Inter{
  font-family: var(--font-geist-Sans);
}

*{margin: 0px;
  padding: 0px;
  background-color: rgb(44, 42, 42);
}


.page{
  max-width:1500px;
  margin: auto;
  height:auto ;
}
.heading{
  color:rgb(236, 137, 137);
    margin-left: 60px;
    font-size: 36px;
    text-decoration: underline;
    margin-top: 14px;
    
}

.para{
  color: antiquewhite;
  margin-left: 30px;
  text-align: left;
  font-size:14px;
  font-weight:normal;
  margin-top: 6px;}


 @media (min-width: 640px) {
  .heading{font-size:44px;}
  .para{font-size: 18px;}
  
 }

 @media(min-width:1020){
  .heading{
    font-size: 60px;
}
}
.para{
    font-size: 30px;
  
}

 